langchain
langchain-groq
langchain-community
langchain-core
langgraph
langgraph-prebuilt
pinecone
streamlit
streamlit-oauth
Authlib>=1.3.2
python-dotenv
statsig
pydantic
requests
supabase
extra-streamlit-components
